/* App.css */

body {
background-color: #292b2e;
color: #ffffff;
}

.app-title {
color: #ffffff;
margin-top: 2rem;
}

.text-input {
    background-color: #292b2e; /* Same as the app background for a seamless look */
    color: #ffffff; /* White text color */
    border: 1px solid #404244; /* Subtle border for visibility */
    outline: none; /* Remove the outline to keep the modern look */
    padding: 10px 20px; /* Add some padding for better text visibility */
    border-radius: 20px; /* Rounded corners */
    margin: 10px 0; /* Optional: adds some space around the input */
    width: 250px; /* Set a specific width */
}

.text-input::placeholder {
    color: #ffffff; /* Light placeholder text */
    opacity: 0.7; /* Placeholder text less prominent */
}

.text-input:focus {
    border-color: #ffffff; /* Brighter border on focus */
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* Enhanced glow effect on focus */
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Ensures the div takes the full width of its parent */
}

.button-modern {
    background-color: #4CAF50; /* Existing styles */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 25px;
}

.button-modern:hover {
    background-color: #45a049;
}

.top-scores-table {
  max-width: 96%; /* Adjust the width to be less than 100% to leave space on the sides */
  width: auto; /* This makes the width flexible */
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto; /* Center the table horizontally */
  margin-right: auto; /* Center the table horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.top-scores-table th,
.top-scores-table td {
  text-align: left;
  padding: 12px 16px;
}

.top-scores-table th {
  background-color: #007bff;
  color: white;
}

.top-scores-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
  color: black; /* Ensure text color is black for visibility */
}

.top-scores-table td {
  border-bottom: 1px solid #ddd;
}

.score-section {
  margin-left: 10px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
}

.question-summary {
  margin-left: 10px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
}

.center-text {
  text-align: center;
}

.center-score {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto; /* Ensure it's centered by using auto margins */
  padding: 10px;
  display: block; /* Changed to block to respect margin auto */
  color: #333; /* More neutral color */
  background-color: #f0f0f0; /* Light background */
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 5px;
  width: fit-content; /* Adjust width to fit content */
  max-width: 90%; /* Prevents too wide elements on larger screens */
  box-sizing: border-box; /* Includes padding and border in the element's total width */
}

.center-score:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}