/* App.css */

body {
background-color: #292b2e;
color: #ffffff;
}

.app-title {
color: #ffffff;
margin-top: 2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Ensures the div takes the full width of its parent */
}

.button-modern {
    background-color: #4CAF50; /* Existing styles */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 25px;
}

.button-modern:hover {
    background-color: #45a049;
}

.top-scores-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.top-scores-table th,
.top-scores-table td {
  text-align: left;
  padding: 12px 16px;
}

.top-scores-table th {
  background-color: #007bff;
  color: white;
}

.top-scores-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
  color: black; /* Ensure text color is black for visibility */
}

/* Removed the hover effect */
.top-scores-table td {
  border-bottom: 1px solid #ddd;
}